

@model List<HolaMundoMVC.Models.Pelicula>

@{
    ViewBag.Title = "About";

    string nombre = "Ernesto Contreras";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<p>Hola <b>@nombre</b> bienvenido a ASP.NET MVC 5</p>


<table>

    <thead>
        <tr>
            <th>Titulo</th>
            <th>Duracion</th>
            <th>Publicacion</th>
            <th>Pais</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var pelicula in Model)
        {
            <tr>
                <td>@pelicula.Titulo</td>
                <td>@pelicula.Duracion</td>
                <td>@pelicula.Publicacion.ToString("dd/MM/yyyy")</td>
                <td>@pelicula.Pais</td>            
            </tr>
        }
    </tbody>

</table>
